# Practicumopdrachten Week 2.2 (eerste kans)

## Dependencies importeren

Importeer in het codeblok hieronder de packages die worden gebruikt om data in te lezen. Geef er ook de gebruikelijke aliassen aan.<br>
N.B.: de 2 reeds geschreven coderegels zorgen ervoor dat eventuele warnings, die code-outputs lelijker maken, uitgezet worden.

In [1]:
import warnings
import pandas as pd
warnings.simplefilter('ignore')

Zet het bestand go_sales.sqlite in hetzelfde mapje als dit notebook.

## Databasetabel inlezen

Creëer een databaseconnectie met het bestand go_sales.sqlite.

In [2]:
import sqlite3      # De library die in Python werkt met SQLite databases.

go_sales = sqlite3.connect("go_sales.sqlite")       # We lezen `go_sales.sqlite` (bestand in dezelfde map) en maken "verbinding" met die database.

Gebruik de onderstaande sql_query om te achterhalen welke databasetabellen in go_sales zitten.

In [3]:
sql_query = "SELECT name FROM sqlite_master WHERE type='table';"        # Query om de namen van alle tabellen te krijgen.
#Vul dit codeblok verder in
cursor = go_sales.execute(sql_query)        # Uitvoeren van de query.
for row in cursor.fetchall():       # Alle resultaten opvragen
    print(row[0])   # Het eerste item van elke rij uitprinten

country
order_details
order_header
order_method
product
product_line
product_type
retailer_site
return_reason
returned_item
sales_branch
sales_staff
SALES_TARGETData
sqlite_sequence

Gebruik de gecreëerde databaseconnectie om de resultaten van de volgende query in een DataFrame te zetten:<br>
*SELECT * FROM sales_staff*

In [4]:
df = pd.DataFrame(go_sales.execute("SELECT * FROM sales_staff"), columns=[  # DataFrame maken met alle data uit de `sales_staff` tabel, hieronder volgen de kolommen van die tabel, zodat we niet naar kolom 0, kolom 1, etc hoeven te verwijzen, maar we ze gewoon bij naam kunnen noemen.
    "SALES_STAFF_CODE",
    "FIRST_NAME",
    "LAST_NAME",
    "POSITION_EN",
    "WORK_PHONE",
    "EXTENSION",
    "FAX",
    "EMAIL",
    "DATE_HIRED",
    "SALES_BRANCH_CODE",
    "TRIAL888"
])

## DataFrames uitsplitsen en opbouwen met Series

De volgende 5 kolommen hebben betrekking op de contactdetails van elke medewerker in dit DataFrame:
- SALES_STAFF_CODE
- WORK_PHONE
- EXTENSION
- FAX
- EMAIL

Maak van elk van deze 5 kolommen een serie.

In [5]:
series_1 = df["SALES_STAFF_CODE"]       # series_1 is een pandas.Series object.
series_2 = df["WORK_PHONE"]             # series_2 ook
series_3 = df["EXTENSION"]              # etc.
series_4 = df["FAX"]                    # Een series-object is eigenlijk gewoon 1 kolom uit de tabel
series_5 = df["EMAIL"]

Zet allevijf gecreëerde series als kolommen naast elkaar in een DataFrame (*contact_details*). Gebruik pd.concat(...)<br>
Hulpvraag: welke waarde geef je aan de axis-parameter?

In [6]:
contact_details = pd.concat([series_1, series_2, series_3, series_4, series_5], axis=1)     # We plaatsen alle 5 series bij elkaar. axis=1 geeft aan dat we ze naast elkaar willen zetten.

# Antwoord op de hulpvraag: 1
contact_details

,SALES_STAFF_CODE,WORK_PHONE,EXTENSION,FAX,EMAIL
0,100,+358(0)17 - 433 127,825,+358(0)17 - 433 129,TSavolainen@grtd123.com
1,101,82-2-778-6587,1228,82-2-778-6586,CKim@grtd123.com
2,102,82-2-778-6587,2641,82-2-778-6586,JChoi@grtd123.com
3,103,886-2-2975-1988,1541,886-2-2989-4978,KKwao@grtd123.com
4,104,886-2-2975-1988,2311,886-2-2989-4978,CFon@grtd123.com
...,...,...,...,...,...
97,95,+35 94 322 3540,325,+35 91 548 1637,TIglesias@grtd123.com
98,96,+55 (11) 344-4444,3490,+55 (11) 333-2223,BLopes@grtd123.com
99,97,+55 (11) 344-4444,3364,+55 (11) 333-2223,VBarros@grtd123.com
100,98,+55 (11) 344-4444,1442,+55 (11) 333-2223,EGuimaraes@grtd123.com
101,99,+358(0)17 - 433 127,489,+358(0)17 - 433 129,HLindholm@grtd123.com

## Series en DataFrames maken vanuit lists en dictionaries

Met .head(*getal*) kan je de bovenste *getal* rijen van een tabel selecteren.<br>
Selecteer op deze manier de bovenste 5 rijen van *contact_details*.<br>
Sla dit resultaat op in een nieuw DataFrame.

In [7]:
een_nieuw_DataFrame = contact_details.head(5)       # Eerste 5 rijen van contact_details opvragen.

Aan deze rijen met contactdetails willen we 3 kolommen toevoegen: 'FIRST_LANGUAGE', 'SECOND_LANGUAGE' & 'THIRD_LANGUAGE'.<br>
Iedereens 'First Language' is Engels, afgekort 'EN'. Maak een lijst waarin 5x 'EN' staat.<br>
Converteer deze lijst vervolgens naar een serie en voeg deze horizontaal samen met het resultaat van de vorige opdracht.<br>
Vergeet niet een passende naam te geven aan de nieuw ontstane kolom.

In [8]:
een_nieuw_DataFrame.insert(2, "FIRST_LANGUAGE", ["EN"] * 5, True)       # Als first-language Engels toevoegen voor iedereen.

Maak nu de tweede kolom ('SECOND_LANGUAGE'). Maak daarvoor een dictionary, met daarin...
- Als keys: alle indexen uit het resultaat van het vorige codeblok.
- Als values: bij de eerste 3 elementen 'FR' (Frankrijk), bij de laatste 2 'DE' (Duitsland).

Maak vervolgens ook hier weer een serie van en voeg ook deze weer horizontaal samen met het rsultaat van de vorige opdracht.<br>
Vergeet niet een passende naam te geven aan de nieuw ontstane kolom.

In [9]:
een_nieuw_DataFrame.insert(3, "SECOND_LANGUAGE", {      # Second language toevoegen voor iedereen
    0: "FR",
    1: "FR",
    2: "FR",
    3: "DE",
    4: "DE"
})

een_nieuw_DataFrame

,SALES_STAFF_CODE,WORK_PHONE,FIRST_LANGUAGE,SECOND_LANGUAGE,EXTENSION,FAX,EMAIL
0,100,+358(0)17 - 433 127,EN,FR,825,+358(0)17 - 433 129,TSavolainen@grtd123.com
1,101,82-2-778-6587,EN,FR,1228,82-2-778-6586,CKim@grtd123.com
2,102,82-2-778-6587,EN,FR,2641,82-2-778-6586,JChoi@grtd123.com
3,103,886-2-2975-1988,EN,DE,1541,886-2-2989-4978,KKwao@grtd123.com
4,104,886-2-2975-1988,EN,DE,2311,886-2-2989-4978,CFon@grtd123.com

Maak ten slotte de derde kolom ('THIRD_LANGUAGE') door een dictionary te maken met daarin...
- Als key: de naam van de nieuwe kolom. Zie je het verschil qua keys met de vorige opdracht?
- Als waarde: een lijst met daarin 'NL', 'NL', 'JPN', 'JPN', 'KOR'.

Converteer deze dictionary nu naar een DataFrame en voeg deze horizontaal samen met het resultaat van de vorige opdracht.<br>
Waarom hoef je hierna de nieuw ontstane kolom geen passende naam meer te geven?

In [10]:
een_nieuw_DataFrame.insert(4, "THIRD_LANGUAGE", {       # Third language toevoegen voor iedereen
    "THIRD_LANGUAGE": ["NL", "NL", "JPN", "JPN", "KOR"]
})
een_nieuw_DataFrame

,SALES_STAFF_CODE,WORK_PHONE,FIRST_LANGUAGE,SECOND_LANGUAGE,THIRD_LANGUAGE,EXTENSION,FAX,EMAIL
0,100,+358(0)17 - 433 127,EN,FR,NaN,825,+358(0)17 - 433 129,TSavolainen@grtd123.com
1,101,82-2-778-6587,EN,FR,NaN,1228,82-2-778-6586,CKim@grtd123.com
2,102,82-2-778-6587,EN,FR,NaN,2641,82-2-778-6586,JChoi@grtd123.com
3,103,886-2-2975-1988,EN,DE,NaN,1541,886-2-2989-4978,KKwao@grtd123.com
4,104,886-2-2975-1988,EN,DE,NaN,2311,886-2-2989-4978,CFon@grtd123.com

## Data toevoegen

### Rijen

Gebruik de originele databasetabel *sales_staff*.<br>
Voeg een extra rij toe met eigen invulling. Zorg ervoor dat de index netjes doorloopt.<br>
Hulpvraag: welke waarde geef je nu aan axis?

In [11]:
sales_staff = pd.DataFrame(go_sales.execute("SELECT * FROM sales_staff"), columns=[     # Data opnieuw laden, ook al zou die niet aangepast moeten zijn, ik wil liever even opnieuw laden dan dat ik later erachter kom dat het wel aangepast blijkt te zijn.
    "SALES_STAFF_CODE",
    "FIRST_NAME",
    "LAST_NAME",
    "POSITION_EN",
    "WORK_PHONE",
    "EXTENSION",
    "FAX",
    "EMAIL",
    "DATE_HIRED",
    "SALES_BRANCH_CODE",
    "TRIAL888"
])

sales_staff = sales_staff.append({  # Toevoegen van een rij aan de tabel
    "SALES_STAFF_CODE": 197,
    "FIRST_NAME": "Voornaam",
    "LAST_NAME": "Achternaam",
    "POSITION_EN": "Level 1000 Representative",
    "WORK_PHONE": "+31612233445",
    "EXTENSION": 999,
    "FAX": "+31612233446",
    "EMAIL": "kutzooi@gmail.com",
    "DATE_HIRED": "1-1-1988",
    "SALES_BRANCH_CODE": 12,
    "TRIAL888": False
}, ignore_index=True)

sales_staff

,SALES_STAFF_CODE,FIRST_NAME,LAST_NAME,POSITION_EN,WORK_PHONE,EXTENSION,FAX,EMAIL,DATE_HIRED,SALES_BRANCH_CODE,TRIAL888
0,100,Tuomas,Savolainen,Level 2 Sales Representative,+358(0)17 - 433 127,825,+358(0)17 - 433 129,TSavolainen@grtd123.com,23-7-2014,31,T
1,101,Chang-ho,Kim,Level 2 Sales Representative,82-2-778-6587,1228,82-2-778-6586,CKim@grtd123.com,15-12-2014,32,T
2,102,Jung-ho,Choi,Level 3 Sales Representative,82-2-778-6587,2641,82-2-778-6586,JChoi@grtd123.com,27-11-2014,32,T
3,103,Kwei-Ping,Kao,Level 2 Sales Representative,886-2-2975-1988,1541,886-2-2989-4978,KKwao@grtd123.com,7-10-2014,33,T
4,104,Chin-Tsai,Fang,Level 3 Sales Representative,886-2-2975-1988,2311,886-2-2989-4978,CFon@grtd123.com,8-5-2012,33,T
...,...,...,...,...,...,...,...,...,...,...,...
98,96,Bayard,Lopes,Branch Manager,+55 (11) 344-4444,3490,+55 (11) 333-2223,BLopes@grtd123.com,12-8-2013,30,T
99,97,Viviam,Barros,Level 3 Sales Representative,+55 (11) 344-4444,3364,+55 (11) 333-2223,VBarros@grtd123.com,10-2-2017,30,T
100,98,Eduardo,Guimarães,Level 2 Sales Representative,+55 (11) 344-4444,1442,+55 (11) 333-2223,EGuimaraes@grtd123.com,14-2-2015,30,T
101,99,Helena,Lindholm,Level 3 Sales Representative,+358(0)17 - 433 127,489,+358(0)17 - 433 129,HLindholm@grtd123.com,17-8-2013,31,T
102,197,Voornaam,Achternaam,Level 1000 Representative,+31612233445,999,+31612233446,kutzooi@gmail.com,1-1-1988,12,False

### Kolommen

Voeg een kolom *FULL_NAME* toe die de waarden van *FIRST_NAME* en *LAST_NAME* achter elkaar zet, gescheiden door een spatie.

In [12]:
sales_staff["FULL_NAME"] = sales_staff["FIRST_NAME"] + " " + sales_staff["LAST_NAME"]   # Kolom "FULL_NAME" maken die een combinatie is van de voornaam en de achternaam

## Data wijzigen

### Datatypen

Door het attribuut .dtypes van een DataFrame op te vragen krijg je een serie die per kolom het datatype weergeeft. Doe dit bij de originele databasetabel *sales_staff*

In [13]:
print(sales_staff.dtypes)   # De datatypes van alle kolommen opvragen. Dit zegt niet veel, want alles in Python is een object (zelfs functies, classes en instanties van classes)

SALES_STAFF_CODE     object
FIRST_NAME           object
LAST_NAME            object
POSITION_EN          object
WORK_PHONE           object
EXTENSION            object
FAX                  object
EMAIL                object
DATE_HIRED           object
SALES_BRANCH_CODE    object
TRIAL888             object
FULL_NAME            object
dtype: object

Hier valt op dat elke kolom het datatype 'object' heeft: Python leest dus alles als string. Wiskundige operaties zijn hierdoor niet mogelijk.<br>
We kunnen proberen om kolommen met getallen, bijvoorbeeld de 'extension', te converteren naar een int. Zie onderstaande code.

In [14]:
# sales_staff["EXTENSION"] = sales_staff["EXTENSION"].astype(int)
# sales_staff.dtypes
# Gecommentarieerd om de rest van de code uit te laten voeren met de Run All knop. Deze code stond er al als voorbeeld van hoe het niet moet.

Dit lukt echter niet, omdat er in de kolom 'EXTENSION' lege waarden zitten die niet geconverteerd kunnen worden naar een int.<br>
Wél kan je deze naar een float converteren, zie onderstaande code:

In [15]:
sales_staff["EXTENSION"] = sales_staff["EXTENSION"].astype(float)       # Converteer de "EXTENSION" kolom naar floats.
sales_staff.dtypes

SALES_STAFF_CODE      object
FIRST_NAME            object
LAST_NAME             object
POSITION_EN           object
WORK_PHONE            object
EXTENSION            float64
FAX                   object
EMAIL                 object
DATE_HIRED            object
SALES_BRANCH_CODE     object
TRIAL888              object
FULL_NAME             object
dtype: object

Als we in de rij van 'EXTENSION' kijken zien we dat de conversie van het datatype nu is gelukt.<br>
Dit is <b>randvoorwaardelijk</b> voor het uitvoeren van wiskundige operaties.<br>

### Rijen

Zorg er nu voor dat bij alle extensions 1 wordt opgeteld.

In [16]:
sales_staff["EXTENSION"].apply(pd.to_numeric, errors='coerce')      # En nu naar een nummerieke waarde.
sales_staff["EXTENSION"] += 1

Elke 'Branch Manager' wordt nu 'General Manager'. Schrijf code zodat deze wijziging doorgevoerd wordt in het DataFrame.

In [17]:
sales_staff.replace("Branch Manager", "General Manager")    # Vervan alle "Branch Manager"s voor "General Manager"s

,SALES_STAFF_CODE,FIRST_NAME,LAST_NAME,POSITION_EN,WORK_PHONE,EXTENSION,FAX,EMAIL,DATE_HIRED,SALES_BRANCH_CODE,TRIAL888,FULL_NAME
0,100,Tuomas,Savolainen,Level 2 Sales Representative,+358(0)17 - 433 127,826.0,+358(0)17 - 433 129,TSavolainen@grtd123.com,23-7-2014,31,T,Tuomas Savolainen
1,101,Chang-ho,Kim,Level 2 Sales Representative,82-2-778-6587,1229.0,82-2-778-6586,CKim@grtd123.com,15-12-2014,32,T,Chang-ho Kim
2,102,Jung-ho,Choi,Level 3 Sales Representative,82-2-778-6587,2642.0,82-2-778-6586,JChoi@grtd123.com,27-11-2014,32,T,Jung-ho Choi
3,103,Kwei-Ping,Kao,Level 2 Sales Representative,886-2-2975-1988,1542.0,886-2-2989-4978,KKwao@grtd123.com,7-10-2014,33,T,Kwei-Ping Kao
4,104,Chin-Tsai,Fang,Level 3 Sales Representative,886-2-2975-1988,2312.0,886-2-2989-4978,CFon@grtd123.com,8-5-2012,33,T,Chin-Tsai Fang
...,...,...,...,...,...,...,...,...,...,...,...,...
98,96,Bayard,Lopes,General Manager,+55 (11) 344-4444,3491.0,+55 (11) 333-2223,BLopes@grtd123.com,12-8-2013,30,T,Bayard Lopes
99,97,Viviam,Barros,Level 3 Sales Representative,+55 (11) 344-4444,3365.0,+55 (11) 333-2223,VBarros@grtd123.com,10-2-2017,30,T,Viviam Barros
100,98,Eduardo,Guimarães,Level 2 Sales Representative,+55 (11) 344-4444,1443.0,+55 (11) 333-2223,EGuimaraes@grtd123.com,14-2-2015,30,T,Eduardo Guimarães
101,99,Helena,Lindholm,Level 3 Sales Representative,+358(0)17 - 433 127,490.0,+358(0)17 - 433 129,HLindholm@grtd123.com,17-8-2013,31,T,Helena Lindholm
102,197,Voornaam,Achternaam,Level 1000 Representative,+31612233445,1000.0,+31612233446,kutzooi@gmail.com,1-1-1988,12,False,Voornaam Achternaam

### Kolommen

Verander de kolomnaam 'POSITION_EN' naar 'POSITION'.

In [18]:
sales_staff = sales_staff.rename({  # Hernoemen van een kolom
    "POSITION_EN": "POSITION"
})

## Data verwijderen

### Rijen

De medewerkers op indexen 99, 100 en 101 hebben helaas ontslag genomen.<br>
Verwijder de bijbehorende rijen uit het DataFrame. Gebruik slechts één keer de .drop()-methode.

In [19]:
sales_staff.drop(101, axis=0)   # Verwijderen van rij 101
sales_staff.drop(100, axis=0)   # Verwijderen van rij 100
sales_staff.drop(99, axis=0)    # Verwijderen van rij 99
# Deze heb ik in aflopende volgorde gedaan omdat het verwijderen van rij 99, rij 100 naar 99 verplaatst en rij 101 naar 100 verplaatst.

,SALES_STAFF_CODE,FIRST_NAME,LAST_NAME,POSITION_EN,WORK_PHONE,EXTENSION,FAX,EMAIL,DATE_HIRED,SALES_BRANCH_CODE,TRIAL888,FULL_NAME
0,100,Tuomas,Savolainen,Level 2 Sales Representative,+358(0)17 - 433 127,826.0,+358(0)17 - 433 129,TSavolainen@grtd123.com,23-7-2014,31,T,Tuomas Savolainen
1,101,Chang-ho,Kim,Level 2 Sales Representative,82-2-778-6587,1229.0,82-2-778-6586,CKim@grtd123.com,15-12-2014,32,T,Chang-ho Kim
2,102,Jung-ho,Choi,Level 3 Sales Representative,82-2-778-6587,2642.0,82-2-778-6586,JChoi@grtd123.com,27-11-2014,32,T,Jung-ho Choi
3,103,Kwei-Ping,Kao,Level 2 Sales Representative,886-2-2975-1988,1542.0,886-2-2989-4978,KKwao@grtd123.com,7-10-2014,33,T,Kwei-Ping Kao
4,104,Chin-Tsai,Fang,Level 3 Sales Representative,886-2-2975-1988,2312.0,886-2-2989-4978,CFon@grtd123.com,8-5-2012,33,T,Chin-Tsai Fang
...,...,...,...,...,...,...,...,...,...,...,...,...
97,95,Tomás,Iglesias,Level 2 Sales Representative,+35 94 322 3540,326.0,+35 91 548 1637,TIglesias@grtd123.com,19-2-2014,29,T,Tomás Iglesias
98,96,Bayard,Lopes,Branch Manager,+55 (11) 344-4444,3491.0,+55 (11) 333-2223,BLopes@grtd123.com,12-8-2013,30,T,Bayard Lopes
100,98,Eduardo,Guimarães,Level 2 Sales Representative,+55 (11) 344-4444,1443.0,+55 (11) 333-2223,EGuimaraes@grtd123.com,14-2-2015,30,T,Eduardo Guimarães
101,99,Helena,Lindholm,Level 3 Sales Representative,+358(0)17 - 433 127,490.0,+358(0)17 - 433 129,HLindholm@grtd123.com,17-8-2013,31,T,Helena Lindholm
102,197,Voornaam,Achternaam,Level 1000 Representative,+31612233445,1000.0,+31612233446,kutzooi@gmail.com,1-1-1988,12,False,Voornaam Achternaam

### Kolommen

Faxen zijn inmiddels ouderwets: niemand gebruikt zijn/haar faxnummer nog.<br>
Verwijder de bijbehorende kolom uit het DataFrame.

In [20]:
sales_staff.drop("FAX", axis=1) # Kolom verwijderen, axis=1 geeft aan dat we een kolom om zeep willen helpen

,SALES_STAFF_CODE,FIRST_NAME,LAST_NAME,POSITION_EN,WORK_PHONE,EXTENSION,EMAIL,DATE_HIRED,SALES_BRANCH_CODE,TRIAL888,FULL_NAME
0,100,Tuomas,Savolainen,Level 2 Sales Representative,+358(0)17 - 433 127,826.0,TSavolainen@grtd123.com,23-7-2014,31,T,Tuomas Savolainen
1,101,Chang-ho,Kim,Level 2 Sales Representative,82-2-778-6587,1229.0,CKim@grtd123.com,15-12-2014,32,T,Chang-ho Kim
2,102,Jung-ho,Choi,Level 3 Sales Representative,82-2-778-6587,2642.0,JChoi@grtd123.com,27-11-2014,32,T,Jung-ho Choi
3,103,Kwei-Ping,Kao,Level 2 Sales Representative,886-2-2975-1988,1542.0,KKwao@grtd123.com,7-10-2014,33,T,Kwei-Ping Kao
4,104,Chin-Tsai,Fang,Level 3 Sales Representative,886-2-2975-1988,2312.0,CFon@grtd123.com,8-5-2012,33,T,Chin-Tsai Fang
...,...,...,...,...,...,...,...,...,...,...,...
98,96,Bayard,Lopes,Branch Manager,+55 (11) 344-4444,3491.0,BLopes@grtd123.com,12-8-2013,30,T,Bayard Lopes
99,97,Viviam,Barros,Level 3 Sales Representative,+55 (11) 344-4444,3365.0,VBarros@grtd123.com,10-2-2017,30,T,Viviam Barros
100,98,Eduardo,Guimarães,Level 2 Sales Representative,+55 (11) 344-4444,1443.0,EGuimaraes@grtd123.com,14-2-2015,30,T,Eduardo Guimarães
101,99,Helena,Lindholm,Level 3 Sales Representative,+358(0)17 - 433 127,490.0,HLindholm@grtd123.com,17-8-2013,31,T,Helena Lindholm
102,197,Voornaam,Achternaam,Level 1000 Representative,+31612233445,1000.0,kutzooi@gmail.com,1-1-1988,12,False,Voornaam Achternaam